<div class="booking-info">
  <div class="panel panel-default">
    <div class="panel-heading">Book Spaceship</div>
      <div class="panel-body">
          <%= simple_form_for [spaceship, booking] do |f| %>
            <%= f.input :start_at, as: :string, placeholder: 'jj/mm/yy' %>
            <%= f.input :end_at, as: :string , placeholder: 'jj/mm/yy' %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>
</div>







