<div class="container">
  <h1> My Booking : <%= current_user.email %></h1>
    <ul>
      <% @bookings.each do |booking| %>
        <li><%= booking.spaceship.title %> - Start date: <%= booking.start_at%> <span> to </span> <%= booking.end_at  %></li>
      <% end %>
    </ul>
</div>




