<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Home", root_path %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Find your Spaceship" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</div>

<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/O49r42B.jpg);">
  <div class="container">
    <h1>SNASA!</h1>
    <p>Snail National Aeronautics and Space Administration.</p>
      <%= link_to "Come with us", new_user_registration_path, :class => "btn btn-primary" %>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @spaceships.each do |spaceship| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to spaceship_path(spaceship) do %>
          <div class="card" style="background-image: url(http://www.igorstshirts.com/blog/conceptships/fred_bastide.jpg);">
            <div class="card-description">
              <h2><%= spaceship.title %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Snails rules the world <i class="fas fa-heart"></i>
  </div>
</div>

