<div class="panel panel-default">
    <div class="panel-body">
      <%= simple_form_for booking, url: url, method: :post do |f| %>
        <%= f.input :review %>
        <%= f.input :rating, collection: 1..5 %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>

