<div class="container">
  <%= simple_form_for @booking, url: booking_reviews_path(@booking), method: :post do |f| %>
   <%= f.input :review %>
   <%= f.input :rating, collection: 0..5 %>
   <%= f.button :submit %>
  <% end %>
</div>

